@model Department
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Department</h1>

<section class="page-section" style="margin-top: 50px">
    <h1 class="text-center mb-4">Edit Department</h1>

    <div class="card shadow-sm p-4 mx-auto" style="max-width: 600px;">
        <form asp-action="EditSave" asp-controller="Department" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter department name" value="@Model?.Name" />
                <span asp-validation-for="Name" class="text-danger small"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ManagerName" class="form-label"></label>
                <input asp-for="ManagerName" class="form-control" placeholder="Enter manager name" value="@Model?.ManagerName" />
                <span asp-validation-for="ManagerName" class="text-danger small"></span>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <a asp-controller="Department" asp-action="ShowAll"
                   class="btn btn-secondary">
                    Back To List
                </a>
                <button type="submit" class="btn btn-primary" onclick="confirmUpdate()">
                    Save Changes
                </button>
            </div>
        </form>
    </div>
</section>
