@model CourseFormViewModel
@{
    ViewData["Title"] = "Edit Course";
    var departments = new SelectList(Model.Departments, "Id", "Name", Model.DeptID);
}

<section class="page-section" style="margin-top: 50px">
    <div class="container">
        <h1 class="text-uppercase text-center text-secondary mb-4">Add Course</h1>

        <div class="card shadow-lg mx-auto" style="max-width: 700px;">
            <div class="card-body">
                <form asp-controller="Course" asp-action="EditSave" method="post">
                    <input name="Id" type="hidden" value=" @Model.Id"/>

                    <div class="mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" placeholder="Enter Course name" />
                        <span asp-validation-for="Name" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Degree" class="form-label"></label>
                        <input asp-for="Degree" class="form-control" placeholder="Enter Course Degree" />
                        <span asp-validation-for="Degree" class="text-danger small"></span>

                    </div>

                    <div class="mb-3">
                        <label asp-for="MinDegree" class="form-label"></label>
                        <input asp-for="MinDegree" class="form-control" placeholder="Enter Course Min Degree" />
                        <span asp-validation-for="MinDegree" class="text-danger small"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="DeptID"></label>
                        <select asp-for="DeptID" asp-items="departments" class="form-select">
                            <option value="">-- Select Department --</option>
                        </select>
                        <span asp-validation-for="DeptID" class="text-danger small"></span>
                    </div>


                    <div class="d-flex justify-content-between mt-4">
                        <a asp-controller="Course" asp-action="ShowAll"
                           class="btn btn-secondary">
                            Back To List
                        </a>
                        <!-- onclick="confirmUpdate()" -->
                        <button type="submit" class="btn btn-primary">
                            Save
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

